VITE_API_URL=https://placify-backend-nvvw.onrender.com/api
VITE_GOOGLE_CLIENT_ID=986941539016-trl8j3nic5vq04htn9u7q0sqda626oa4.apps.googleusercontent.com
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_preset
